# exclude development folder
/.idea

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Not ignore .htaccess
!.gitignore
!sites/default/files/.htaccess
!sites/*/private/.htaccess
!sites/*/tmp/.htaccess

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/*/tmp

